//light gray
$LG: lighten(#DAD2D8,10%);
//gun metal
$GM: #143642;
//dark cyan
$DC: #0F8B8D;
//carrot orange
$CO: #EC9A29;
//carnelian
$CR: #A8201A;
//width
$w: 80vw;
//width wider
$w-w: 90vw;
//breakoutpoint
$break:768px;